# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.env.*

# Distribution / packaging
.Python
build/
dist/
.eggs/
*.egg-info/

# PyTorch checkpoints
*.pt
*.pth

# Streamlit
.streamlit/

# IDE files
.vscode/
.idea/
.DS_Store

# Logs
*.log
